@font-face {
  font-family: "basis-grotesque-trial-mono";
  src: url("basis-grotesque-trial-mono.otf");
}

body {
	margin: 0;
	height: 100vh;
	background-color: #4b59a8;
	font-family: 'basis-grotesque-trial-mono', monospace;
}

ul {
	margin: 0;
	list-style: none;
}

.windows {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	border: none;
	border-style: solid;
	border-width: 1px;

	text-align: center;

	width: 35px;
}

.button-right {
	border-left-width: 0px;
}

pre {
	padding: 5px;
	height: 100%;
	margin: 0;
	font-family: 'basis-grotesque-trial-mono', monospace;
}

.window {
	height: 500px;
	width: 800px;

	display: flex;
	flex-direction: column;

	position: fixed !important;
	box-shadow: 5px 5px 30px rgb(15, 15, 15);
	background-color: white;
}

.browser {
	display: flex;
	flex-direction: column;
}

.window-generic {
	height: 300;
	width: 500;
}

.window-header {
	cursor: grab;

	border-style: solid;
	border-width: 1px 1px 0px 1px;

	background-color: rgb(175, 175, 175);

	padding: 5px;

	flex: 0 0 19px;
	display: flex;
	justify-content: flex-end;
}

.browser-header {

	padding: 10px;

}

.window-contents {
	border-style: solid;
	border-width: 1px;
	overflow: auto;
}

.browser-contents {
	display: flex;
	flex: 1 1 auto;
}

.window-title {
	margin-right: auto;
}

.path-box {
	border-style: solid;
	border-width: 1px;

	background-color: #ffffff;
	width: 100%;

	margin: 0px 5px 0px 5px;
}

.path {
	margin-left: 5px;
}

.sidebar {
	padding: 5px;
	border-style: solid;
	border-width: 0px 1px 0px 0px;

	flex-shrink: 0;
	background-color: rgb(225, 225, 225);
}

.category-header {
	font-weight: bold;
}

.files-wrapper {
	flex-grow: 1;
	overflow: auto;
}

.category {
	padding: 5px;
}

div.dataTables_length {
	display: none;
}

div.ui-icon-gripsmall-diagonal-se {
	background-color: white;
	border-radius: 16px;
}

.bottom {
	z-index: 1;
}

td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*
 * MOBILE
 */

@media only screen and (max-width: 768px) {
	.window {
		height: 100%;
		width: 100%;
	}

	.sidebar {
		display: none;
	}

	.browser-header {
		padding: 5px;
	}
}