body {
	margin: 0;
	height: 100vh;
	background-color: rgb(25, 25, 25);
}

.windows {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.window {
	 box-shadow: 5px 5px 30px rgb(15, 15, 15);
	 border-radius: 5px;
}

.browser {
	width: 70vw;
}

.browser-header {
	background-color: rgb(175, 175, 175);
	padding: 5pt;
	border-radius: 5px 5px 1px 1px;
}

.browser-body {
	background-color: white;
	height: 400pt;
	border-radius: 0px 0px 5px 5px;
	padding: 5px;
}

.window-generic {
	position: fixed;
	top: 50vh;
}

.window-header {
	padding: 5px;
	background-color: rgb(175, 175, 175);
	border-radius: 5px 5px 1px 1px;
}

.window-contents {
	padding: 5px;
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	max-height: 500px;
	max-width: 500px;
	overflow: scroll;
}