<li class="file">
	<div class="metric file-name">
		<div class="web"></div>
		<div>
			<%= file_name %>
		</div>
	</div>
	<div class="metric date">
		<%= date %>
	</div>
	<div class="metric size">
		<%= size %>
	</div>
	<div class="metric filetype">
		<%= filetype %>
	</div>
</li>