<li class="file">
	<div class="metric file-name">
		<div class="web"></div>
		<div>
			<%= file.file_name %>
		</div>
	</div>
	<div class="metric date">
		<%= file.date %>
	</div>
	<div class="metric size">
		<%= file.size %>
	</div>
	<div class="metric filetype">
		<% file.filetype %>
	</div>
</li>