<li class="file">
	<div class="file-icon"></div>
	<div class="metric file-name"><%- file_name %></div>
	<div class="metric date"><%- date %></div>
	<div class="metric size"><%- size %></div>
	<div class="metric filetype"><%- filetype %></div>
</li>