<li class="file folder">
	<div class="folder-info">
		<div class="toggle"></div>
		<div class="folder-icon"></div>
		<div class="metric file-name"><%- file_name %></div>
		<div class="metric date"><%- date %></div>
		<div class="metric size">--</div>
		<div class="metric filetype">Folder</div>
	</div>
	<ul class="folder-contents">
	</ul>
</li>